{
  "serviceurls": {
    "AI_API_URL": "https://api.ai.<region>.aws.ml.hana.ondemand.com"
  },
  "clientid": "YOUR_CLIENT_ID",
  "clientsecret": "YOUR_CLIENT_SECRET",
  "url": "https://<subdomain>.authentication.<region>.hana.ondemand.com"
}
